body {
  padding-bottom: 50px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: rgba(0, 0, 0);
}

a, a:visited {
  color: white;
  text-decoration: none;
}

a:hover, a:active {
  color: white;
  text-decoration: underline;
}

.site_wrapper {
  overflow: hidden;
  position: relative;
}

#home {
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: calc(100vh - 135px);
}

#top {
  height: 160px;
  content: "";
  display: block;
}

i.fab {
  color: rgb(0, 0, 0, .85);
  font-size: 36px;
  padding-left: 10px;
}

.grey_background {
    background: rgba(15, 15, 15);
    position: relative;
    padding: 30px 0;
    color: #ccc;
    letter-spacing: 1px;
}

.black_background {
    background: rgba(0, 0, 0);
    position: relative;
    padding: 30px 0;
    color: #ccc;
    letter-spacing: 1px;
}

.nav-link {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 900;
  font-size: .9em;
}

.youtube_kicked {
  width: 560px;
  height: 315px;
  overflow: hidden;
  scroll: none;
}

.section_header {
  height: 150px;
  content: "";
  display: block;
}

.height-250 {
  height: 250px;
}

.album_cover {
  max-width: 300px;
  max-height: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.album_cover:hover {
  transform: scale(1.1) translateY(-8px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  z-index: 10; /* keep it above neighbors */
}

.margin-bottom-minus-navbar {
  margin-bottom: -51px;
}

.coming_soon {
  height: 300px;
}

/* Custom translucent site header */
.site-header {
  background-color: rgba(0, 0, 0, .5);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.translucent-effect {
  background-color: rgba(0, 0, 0, .5);
}

.width-90 {
  width: 90%;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.brand {
  margin: 20px;
  height: 30px;
}

.btn-sm {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #000 !important;
}

button.paypal-button-custom {
  position: relative;
  display: inline-block;
}

input.paypal-button-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.layer-1 {
  z-index: 1;
}

.layer-2 {
  z-index: 2;
}
